:root {
    --background-color: #262626;
    --primary-color: #00e6ac;
    --secondary-color: #000;
    --tertiary-color: #dbdbdb;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: var(--background-color);
    max-height: 100vh;
    max-width: 100vw;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-weight: 600;
    color: var(--primary-color);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 350px;
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 5px; 
    margin-bottom: 2rem;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 75%;
}

.input label {
    font-size: .9rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: .3rem;
}

.input input {
    width: 100%;
    height: 30px;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    outline: none;  
}

.input input::placeholder {
    color: var(--primary-color);
    opacity: .3;
}

.input:nth-child(2) {
    margin-bottom: 2rem;
} 

.form input[type="submit"] {
    height: 30px;
    width: 40%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: 1s ;
}

.form input[type="submit"]:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
}

.employees{
    width: 350px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 4rem;
}

.employees-list {
    width: 90%;
    margin: 1rem;
}

.employee-item {
    border: 1px solid var(--primary-color);
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.employee-item:nth-child(1){
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-top: 1rem;
    text-align: center;
}


.employee-item span {
    width: calc(350px/2);
    word-break: break-all;
    word-wrap: break-word;
}

.employee-item span:nth-child(1){
    margin-right: .5rem;
}


@media screen and (max-width: 468px) {
    body {
        background-color: var(--secondary-color);
    }

    .container {
        width: 100%;
        overflow: hidden;
    }

    .container h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 350px) {
    .container h1 {
        font-size: 1.5rem;
    }
}

